body {
  background: url("images/house.jpg")  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   height: 450px;
   padding:0;
   margin:0;
}


 h1{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin: 0 auto;
	padding: 90px;
	width: 100%;
	text-align: center;
	font-family: Nunito;
	font-size: 74px;
	font-style: bold;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	color:orange;
	background: rgba(0,0,0, 0.7);

}


.boxes {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: rgba(0,0,0, 0.125);
  margin-top: 30px;
  margin-right: 120px;
  
}

.boxes>div {
  background-color: #f1f1f1;
  margin: 50px auto;
  padding:60px;
  font-size: 50px;
  text-align: center;
  color:#000;
  border-radius: 10px;
  width: 110px;
  height: 50px;
  
}

h1 .ityped {
	color:gold;
}

